/* This is your custom storybook stylesheet. */
@import "tailwindcss";
@import "../vendor/mishka_chelekom.css";
/*
 * Put your component styling within the Tailwind utilities layer. 
 * See the https://hexdocs.pm/phoenix_storybook/sandboxing.html guide for more info.
 */

@source "../css";
@source "../js";
@source "../../lib/my_sqrft_web";
@source "../../storybook";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available. */
@plugin "../vendor/heroicons";

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer utilities {
  .my-sqrft * {
    font-family: system-ui;
  }
}